body {
    padding-top: 70px;
}
.ta-container {
    padding: 40px 15px;
    text-align: center;
}



/* Plot Dimensions */
#main-plot {
    width: 100%;
    height: 400px;
}
#macd-plot {
    width: 100%;
    height: 200px;
    display: none;
}
#volume-plot {
    width: 100%;
    height: 200px;
    display: none;
}
#rsi-plot {
    width: 100%;
    height: 200px;
    display: none;
}



/* Bootstrap Dropdown-menu Dimentions */
.dropdown-menu {
    width: 200px;
}
.dropdown-menu-item-slider {
    padding-left: 25px;
}
.dropdown-menu-item-slider .slider {
    width: 145px;
}

.dropdown-menu .fa-check {
    padding-top: 2px;
}

.dropdown-menu-item-keyboard-shortcut {
    float: right;
    color: #eee; 
    padding-right: 5px;
}
.dropdown-menu li:hover .dropdown-menu-item-keyboard-shortcut {
    color: white;
}


/* Flot Tick Labels */
.flot-tick-label {
    color: #999999;
    font-size: 14px;
}
#main-plot .flot-y-axis .flot-tick-label {
    color: #31708f;
}
#macd-plot .flot-y2-axis .flot-tick-label {
    color: rgba(10, 100, 0, 0.33);
}



/* Flot Legend */
.legend {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}
#main-plot:hover .legend,
#volume-plot:hover .legend,
#rsi-plot:hover .legend,
#macd-plot:hover .legend {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.2s,opacity 0.2s linear;
}
.legend > table {
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
.legend > table td:first-child {
    padding-left: 12px;
}
.legend > table td:last-child {
    padding-right: 12px;
}
.legend > table tr:first-child td {
    padding-top: 8px;
}
.legend > table tr:last-child td {
    padding-bottom: 8px;
}

td.legendColorBox > div > div {
    margin-top: 1px;
    margin-right: 2px;
    border-radius: 50%;
}

.legend-label {
    display: block;
    float: left;
    padding-left: 5px;
    font-weight: bold;
    font-size: 14px;
}

.legend-label-value {
    display: block;
    float: right;
    vertical-align: baseline;
    padding-left: 20px;
    text-align: right;
    color: #31708f;
    font-weight: bold;
    font-size: 14px;
}



/* Hover Info */
#hover-info {
    position: fixed;
    padding: 8px 12px;
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    white-space: nowrap;
    display: none;
    z-index: 10;
}
#hover-info table {
    width: 100%;
}



/* Datepicker */
#from-to-date {
    position: relative;
    width: 320px;
}
#from-date-button,
#to-date-button,
#from-date,
#to-date {
    width: 150px;
}
#from-date,
#to-date {
    position: absolute;
    visibility: hidden;
}
#from-date {
    left: 0px;
}
#to-date {
    right: 0px;
}
#progress-info {
    width: 100px;
    position: fixed;
    left: 50%;
    margin-left: -50px;
}



/* Bootstrap Colors */
.btn-default:focus {
    background-color: #ffffff;
}
.btn-default:active,
.btn-default.active {
    background-color: rgb(235, 235, 235);
}



/* Datepicker Colors */
.datepicker table tr td.active.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active.disabled:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active:active, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover.active, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active:hover:active, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active[disabled] {
    background-color: rgba(51, 120, 190, 1);
}
.datepicker table tr td.range, .datepicker table tr td.range.disabled, .datepicker table tr td.range.disabled:hover, .datepicker table tr td.range:hover {
    background-color: rgba(51, 120, 190, 0.09);
}



/* Select2 Colors */
.select2-results .select2-highlighted {
    background: rgba(51, 120, 190, 1);
}



/* Bootstrap Slider Colors */
.slider-handle {
    background-color: rgba(51, 120, 190, 0.8);
    background-image: none;
}